@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Courier+Prime&display=swap');


.font-blood {
    font-family: 'Nosifer', cursive;
}

body {
    background-color: #030303;
}


.background-hai-ye {
    background-image: radial-gradient(radial-gradient(circle at 2px 2px, white 1px, transparent 0));
    background-size: "32px 32px";
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #450a0a;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7f1d1d;
}